@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../img/s.avif"); /* fallback */
    background-image: linear-gradient(rgba(198, 188, 195, 0.5), rgba(176, 163, 163)), url("../img/s.avif"); 
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.main h1 {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 2rem;
    line-height: 1.5em;
}

.main .title-details {
    text-align: center;
    padding-bottom: 1rem;
    width: 90%;
}

.form_wrapper {
    background: rgb(255, 255, 232);
	width: 400px;
	max-width: 100%;
	padding: 25px;
	margin: 8% auto 0;
    border-top: 5px solid #8BC34A;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

form {
    padding: 0 15px;
}

/* Input field */

.input_field {
    margin-bottom: 20px;
}

.main_input {
    width: 100%;
    padding: 8px 10px 9px;
    border: 1px solid #ccc;
    outline: none;
    transition: all 0.30s ease-in-out;
}

.main_input:hover {
    background: #fafafa;
}

.main_input:focus {
    box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
    border: 1px solid #8BC34A;
    background: #fafafa;
}

.radio {
    padding-bottom: 10px;
}

.female-radio, .others-radio {
    padding-block: 10px;
}

/* checkbox */
    .check > div {
        padding-bottom: 10px;
    }

    .check > :nth-child(2) {
        padding-top: 10px;
    }

    label {
        padding-left: 8px;
    }

    .check {
        padding-bottom: 10px;
    }
/* Submit button */

.button {
    background: rgb(198, 82, 154);
    border-radius: 7px;
    height: 35px;
    line-height: 35px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 20px;
    transition: all 0.30s ease-in-out;
}
.button:hover:focus {
    background: #4f7523;
}

/* footer */
.footer {
    margin-top: 4rem;
    padding-block: 1.3rem;
    text-align: center;
    color: rgb(59, 56, 56);
    color: white;
}

.footer div p {
    padding-bottom: 0.5rem;
}
